.title-slide {
  background-image: url(https://images.pexels.com/photos/2114014/pexels-photo-2114014.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
}
.title-slide h1 {
  color: #000000;
}
.title-slide h2, .title-slide h3 {
  color: #000000; 
  line-height: 1.5em;
}
li {
 font-size: 20px;
  margin: 18px 0;
}
